.navbar-item {
    display: flex;
}

.jumbotron{
    background-image:url("../img/pizza.png");
    background-color: #eeeeee;
}

ul.navbar-nav.mr-auto{
    padding: 0;
}

nav div ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav div ul li{
    align-items: center;
    padding: 1em;
    font-family: sans-serif;

}

form{
    margin-right: auto;
}

.container{
}

.display-4{
    height: 3em;

}