body {
    font-family: "Helvetica Neue" , sans-serif;
}

.navbar1 {
    box-sizing: border-box;
}

ul {
    box-sizing: border-box;
    display:flex;
    padding: 1em 0;
    background-color: #bbbbbb;
    list-style: none;
}

.nav-item {
    box-sizing: border-box;
    padding: 0 1em;
    font-size: small;
}

.nav-item:nth-of-type(4){
    margin-right: auto;
}
.nav-item:nth-of-type(5){

}

.nav-item:nth-of-type(6){
    margin-left: auto;
}

a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
    text-decoration: underline;
}