* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 1em;
    align-items: center;
    width: 100%;
    font-family: sans-serif;
}

div a{
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-weight: lighter;
}
.hidden-on-desktop{
    border: 1px solid lightgray;
    padding: 1em;
    background-color: #ccffff;
    text-align: center;
    width: 25%;
}

h1 {
    margin: .2em auto .5em auto;
    font-size: 3em;
}

ul{
    padding-inline-start: 0;
    width: 100%;
}

li{

    list-style: none;
    text-align: center;
    border: 1px solid lightgray;
    padding: 1em 0;
    margin: 1em 0;
    background-color: lightgray;
}