body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}


.message{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 80%;
}

.message-info{
    color: darkblue;
    background-color: lightblue;
}

.message-success{
    color: green;
    background-color: lightgreen;
}

.message-warning{
    color: saddlebrown;
    background-color: yellow;
}

.message-error{
    color: darkred;
    background-color: pink;
}