body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}


.message {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: .6em .9em;
    margin: 8px;
    font-size: .9em;
}

.message-info{
    color: darkblue;
    background-color: #c8d7f7;
}

.message-success{
    color: green;
    background-color: #c9ebd5;
}

.message-warning{
    color: #8b791d;
    background-color: #f4f3c3;
}

.message-error{
    color: darkred;
    background-color: #f0d2d6;
}

